<div class="h-[100vh] w-[100vw] bg-white flex justify-center items-center select-none">
  <div class="w-1/2 hidden md:flex px-8 py-6 justify-center">
    <img src="assets/images/login.png" alt="login-image" />
  </div>
  <div class="w:1 md:w-1/2 flex justify-center">
    <div class="w-full max-w-lg flex flex-col px-8 py-6 items-center">
      <span class="text-2xl text-gray-600 font-bold tracking-wide mb-8">Member Login</span>
      <div class="w-full flex flex-col gap-3 px-7 text-black">
        <input
          type="email"
          placeholder="your-mail@domain.com"
          autocomplete="email"
          class="w-full py-3 px-6 bg-gray-200 font-semibold text-gray-900 outline-none rounded-full"
        />
        <input
          type="password"
          placeholder="password"
          autocomplete="current-password"
          class="w-full py-3 px-6 bg-gray-200 font-semibold text-gray-900 outline-none rounded-full mb-3"
        />
        <button type="button" class="px-6 py-2 rounded-full w-full bg-green-400 hover:bg-green-500 text-lg text-gray-600 font-bold tracking-wide">Login</button>
      </div>
      <span class="text-center mt-2 text-gray-500 hover:text-gray-700 cursor-pointer">Forgot Username / Password?</span>
    </div>
  </div>
</div>
